<h1>Rock, Paper, Scissors!</h1>
<form method="get" action="/single_player">
  <input value="Single Player" type="submit">
</form>

<form method="get" action="/two_player">
  <input value="Two Player" type="submit">
</form>